@charset "UTF-8";
body {
  background-color: var(--background-color);
  color: var(--title-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.peculiarities-container__title, .portfolio-container__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.hero-button, .submit, .button-form {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.our-work-section, .our-team-section, .clients-section, .portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-work-container__title, .our-team-container__title, .clients__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #212121;
}

.logo {
  display: block;
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo--header {
  margin-top: 24px;
  margin-bottom: 24px;
}

.logo--header span {
  color: #000000;
}

.logo--footer span {
  color: #ffffff;
}

.header-section {
  background-color: #ffffff;
  border-bottom: 1px solid #f5f4fa;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  padding-top: 20px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #2196f3;
}

/* ---------- Подчеркивание меню ---------- */
.site-nav__link::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: #2196f3;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.current::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-list__item + .contact-list__item {
  margin-left: 30px;
}

.contact-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-list__link:hover, .contact-list__link:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-list__icon:hover, .contact-list__icon:focus {
  fill: #2196f3;
}

.hero-section {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  max-width: 1600px;
  margin: 0 auto 0 auto;
  background-position: center;
  background-size: cover;
}

.hero-container {
  display: block;
}

.hero-container__title {
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  display: block;
  border: 0;
  border-radius: 4px;
  padding: 10px 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.section-peculiarities {
  padding-top: 94px;
}

.peculiarities-container__title {
  margin-left: auto;
  margin-right: auto;
}

.peculiarities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
}

.peculiarities-list__item:not(:last-child) {
  margin-right: 30px;
}

.peculiarities-list__title {
  color: #212121;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
}

.peculiarities-list__description {
  margin-top: 10px;
  color: #757575;
  line-height: 1.71;
}

.peculiarities-list__icon {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 25px 100px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.our-work-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.task-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.task-list__item {
  position: relative;
}

.task-list__item:not(:last-child) {
  margin-right: 30px;
}

.task-list__text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team-section {
  background-color: #f5f4fa;
}

.our-team-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.employee-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.employee-cards__item:not(:last-child) {
  margin-right: 30px;
}

.employee-cards__description {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

.employee-cards__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.employee-cards__position {
  margin-top: 10px;
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.employee-so-net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 32px 0 32px;
}

.employee-so-net__item:not(:last-child) {
  margin-right: 10px;
}

.employee-so-net__link {
  fill: #afb1b8;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
}

.employee-so-net__link:hover, .employee-so-net__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  fill: #afb1b8;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buttons-container {
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  display: block;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;
}

.filter-button:hover, .filter-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
}

.project-list__item {
  margin-right: 30px;
  margin-top: 30px;
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
}

.project-list__link {
  display: block;
}

.project-list__link:hover, .project-list__link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.project-data {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.project-data__title {
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-data__meaning {
  margin-top: 4px;
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* ---------- Всплывающее окно ---------- */
.project-img {
  position: relative;
  overflow: hidden;
}

.project-img::before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  background-color: #2196f3e5;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list__link:hover .project-img::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.meta {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list__link:hover .meta {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.meta__text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-container {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.addresses {
  margin-top: 20px;
  margin-right: 70px;
}

.addresses__item:not(:first-child) {
  margin-top: 9px;
}

.addresses__link {
  color: #ffffff;
  font-style: normal;
  line-height: 1.71;
}

.addresses__link:hover, .addresses__link:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addresses__contact {
  color: #757575;
  font-style: normal;
  line-height: 1.71px;
}

.addresses__contact:hover, .addresses__contact:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-block__title {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #44454e;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
}

.social-networks__link:hover, .social-networks__link:focus {
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__icon {
  fill: #ffffff;
}

.subscription-form {
  margin-left: auto;
}

.subscription-form__title {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscription__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 385px;
  height: 50px;
  padding: 15px 16px;
  margin-top: 20px;
  margin-right: 12px;
  font-family: Roboto;
  font-size: 16px;
  line-height: calc(20 / 16);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 28px 10px 29px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.telegram-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  opacity: 1;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-button__icon {
  width: 18px;
  height: 18px;
  fill: #000000;
}

.close-button:hover .close-button__icon {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
}

.form-elements {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-elements__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-elements__item:not(:first-child) {
  margin-top: 10px;
}

.form-elements__lable {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}

.form-elements__input {
  padding: 0;
  padding-left: 42px;
  margin-top: 4px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form-elements__input:focus-within {
  border-color: #2196f3;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form-elements__input:focus + .form-elements__icon {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-elements__icon {
  position: absolute;
  display: block;
  left: 12px;
  bottom: 50%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 18px;
  height: 18px;
}

.form-elements__coment {
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  font-family: Roboto;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.form-elements__coment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-elements__coment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-elements__coment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-elements__coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-elements__coment:focus-within {
  border-color: #2196f3;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.checkbox__input:checked + .checkbox-icon {
  background-color: #2196f3;
  border: none;
}

.checkbox-link {
  margin-left: 5px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.button-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 55px 10px 56px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=main.css.map */