.clients-section {
    @include section();

    @media screen and (min-width: 1200px) {
        @include section($top: 94px, $bottom: 94px);
    }
}

.clients__title {
    @include title();
    @media screen and (min-width: 1200px) {
        @include title($size: 36px, $height: calc(42 / 36));
    }
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.clients-list__item {
    @media screen and (max-width: 767px) {
        margin-top: 30px;
        flex-basis: calc((100% - 1 * 30px) / 2);
    }
    @media screen and (min-width: 768px) {
        margin-top: 30px;
        flex-basis: calc((100% - 2 * 30px) / 3);
    }
    @media screen and (min-width: 1200px) {
        margin-top: 50px;
        flex-basis: calc((100% - 5 * 30px) / 6);
    }
}

.clients-list__link {
    fill: $color-icons;
    display: block;
    box-sizing: border-box;

    height: 92px;
    padding-top: 16px;
    padding-bottom: 16px;

    border-radius: 4px;
    border: 1px solid $color-border-client;

    &:hover,
    &:focus {
        border-color: $color-accent;
        fill: $color-accent;

        transition: fill 250ms $animation-timing,
            border-color 250ms $animation-timing;
    }
}
.clients-list__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
