.header-section {
    background-color: $color-primery-bg;
    border-bottom: 1px solid $color-secondary-bg;
}
.header-container {
    position: relative;
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
}
.site-nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (max-width: 1200px) {
        margin-left: 88px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}
.site-nav__item:not(:last-child) {
    margin-right: 50px;
}
.site-nav__link {
    position: relative;
    padding-top: 20px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    color: $color-title;

    &:hover,
    &:focus {
        color: $color-accent;
        transition: color 250ms $animation-timing;
    }
}

.current {
    color: $color-accent;
}
/* ---------- Подчеркивание меню ---------- */

.site-nav__link::after {
    position: absolute;
    content: "";
    display: block;

    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    background-color: $color-accent;

    transform: scaleX(0);
}

.current::after {
    transform: scaleX(1);
}

.contact-list {
    padding-left: 0px;
    margin-left: auto;
    align-items: center;

    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.contact-list__item {
    @media screen and (max-width: 1199px) {
        & + & {
            margin-top: 10px;
        }
    }
    @media screen and (min-width: 1200px) {
        & + & {
            margin-left: 30px;
        }
    }
}

.contact-list__link {
    display: flex;
    align-items: center;
    color: $color-secondary-text;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: calc(16 / 14);
    }

    &:hover,
    &:focus {
        color: $color-accent;
        transition: color 250ms $animation-timing;
    }
}

.contact-list__icon {
    fill: currentColor;
    @media screen and (max-width: 1199px) {
        margin-right: 8px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
    }

    &:hover,
    &:focus {
        fill: $color-accent;
    }
}
