.logo {
    display: block;
    color: $color-accent;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
}

.logo--header {
    @media screen and (max-width: 767px) {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    @media screen and (min-width: 768px) {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    & span {
        color: $color-black-logo;
    }
}

.logo--footer {
    @media screen and (max-width: 1199px) {
        display: flex;
        justify-content: center;
    }
    & span {
        color: $color-text-white;
    }
}
