$color-primery-bg: #ffffff;
$color-secondary-bg: #f5f4fa;
$color-bg-footer: #2f303a;
$color-title: #212121;
$color-secondary-text: #757575;
$color-text-white: #ffffff;
$color-text-btn: #ffffff;
$color-accent: #2196f3;
$color-black-logo: #000000;
$color-border-portfolio: #eeeeee;
$color-border-client: #afb1b8;
$color-icons: #afb1b8;
$color-icons-bg: #44454e;
$color-backdrop: #00000033;
$color-bg-activ-window: #2196f3e5;

$animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
